.espacoCliente{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: left;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.seta1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    z-index: 1;
    background: none;
    border: none;
}

.seta1:hover{
    display: flex;
    align-items: center;
    color: rgb(117, 117, 117);
}


.seta1:disabled {
    cursor: default;
    opacity: 0.5;
}

.seta2{
    display: flex;
    font-size: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    background: none;
    border: none;
}

.seta2:hover{
    display: flex;
    align-items: center;
    color: rgb(117, 117, 117);
}


.seta2:disabled {
    cursor: default;
    opacity: 0.5;
}
.espacoFrases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
    font-size: 20px;
    z-index: 1;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    text-align: center;
    color: white;
}

.regras {
    padding: 0px 200px;
    font-size: 14px;
}

.frase {
    padding: 0px 200px;
    text-align: center;
}

.espacoGlobal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: white;
    padding: 0px;
}

.cabecalho{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background: rgb(97, 5, 5);
    color: white;
    padding: 0px;

}

.formulario{
    border-radius: 20px;
    background: white;
    box-shadow: 0px 100px 100px black;
    position: absolute;
    display: flex;
    width: 600px;
    height: 700px;
    margin: 0px;
    padding: 0px 0px;
    flex-direction: column;
    justify-content: center;
}

.titular{
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.titular:focus{
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(134, 23, 23);
}


.escolhaFilhos{
    display: flex;
    justify-content: center;
}

.selecao{
    width: 30px;
}

.titulo{
    color: rgb(150, 150, 150);
    padding: 0px 30px;
    margin: 0px;
    font-size: 20px;
    z-index: 1;
}

.aviso{
    padding: 0px 20px;
    font-size: 18px;
    color: rgb(161, 161, 161);
}

.subAviso{
    margin: 0px;
    padding: 0px 40px;
    font-size: 16px;
    color: rgb(56, 56, 56);
}

.importante{
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: rgb(92, 32, 32);
}

.espacoContador {
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}


.botaoDiminuir{
    height: 30px;
    width: 30px;
    background: rgb(194, 255, 194);
    border-radius: 8%;
    color: black;
    border: none;
    border-radius: 10px;
}

.botaoAumentar{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    background: rgb(255, 194, 194);
    border-radius: 8%;
    color: black;
    border: none;
    border-radius: 10px;
}

.contagem{
    font-size: 30px;
    padding: 0px 10px;
    color: black;
}

.espacoData{
    display: flex;
    justify-content: center;
}

.data{
    padding: 5px;
}

.subAvisoData{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: black;
}



.titulo {
    color: black;
    z-index: 1;
    font-size: 22px;
    padding: 20px;
    color: brown;
    text-shadow: 10px 10px 10px black;
}

.espacoConteudo {
    height: 900px;
    width: 900px;
    z-index: 1;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
}

.descricao {
    font-size: 18px;
    padding: 0px 60px;
    color: white;
    text-shadow: 3px 3px 3px black;
    text-align: left;
}

.espacoCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 30px;
    height: 30px;
    padding: 20px;
}

.espacoBotao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    display: block;
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.botao:hover {
    background-color: #3E8E41;
}

.botao:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}

.botao {
    justify-content: center;
}

.alerta{
    position: absolute;
    z-index: 1;
    background: red;
    height: 300px;
    width: 300px;
}



@media only screen and (max-width: 400px) {
    .espacoGlobal {
        width: 100%;
        height: 100vh;
        padding: 30px 0px;
        display: flex;
        justify-content: center;
        background: white;
        text-align: center;
        align-items: center;
        border-radius: 0px;
    }


    .titulo {
        z-index: 1;
        font-size: 13px;
        padding: 0px;
        margin: 0px;
        color: brown;
    }

    .espacoConteudo {
        padding: 50px 0px;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }

    .descricao {
        padding: 0px 13px;
        color: black;
        font-size: 11px;
        text-align: left;
        padding: 0px;
        margin: 0px;
    }

    .espacoCheckbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkbox {
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    .espacoBotao {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao {
        display: block;
        padding: 8px 10px;
        border: none;
        border-radius: 4px;
        background-color: #4CAF50;
        color: white;
        font-size: 13px;
        cursor: pointer;
    }

    .botao:hover {
        background-color: #3E8E41;
    }

    .botao:disabled {
        background-color: #CCCCCC;
        cursor: not-allowed;
    }

    .botao {
        justify-content: center;
    }
}

@media only screen and (max-width: 1000px) {
    .espacoGlobal {
        width: 100%;
        height: 100vh;
        padding: 30px 0px;
        display: flex;
        justify-content: center;
        background: white;
        text-align: center;
        align-items: center;
        border-radius: 0px;
    }


    .titulo {
        z-index: 1;
        font-size: 13px;
        color: brown;
        padding: 0px;
        margin: 0px;
    }

    .espacoConteudo {
        padding: 50px 0px;
        width: 100%;
        height: 100vh;
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
    }

    .descricao {
        padding: 0px 13px;
        color: white;
        font-size: 11px;
        text-align: left;
        padding: 0px;
        margin: 0px;
    }

    .espacoCheckbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkbox {
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    .espacoBotao {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao {
        display: block;
        padding: 8px 10px;
        border: none;
        border-radius: 4px;
        background-color: #4CAF50;
        color: white;
        font-size: 13px;
        cursor: pointer;
    }

    .botao:hover {
        background-color: #3E8E41;
    }

    .botao:disabled {
        background-color: #CCCCCC;
        cursor: not-allowed;
    }

    .botao {
        justify-content: center;
    }
}

@media only screen and (max-width: 1000px) {
    .espacoGlobal{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .espacoImagem{
        margin: 0px;
        opacity: 0.3;
    }
    
    .formulario{
        padding: 130px;
        border-radius: 20px;
        background: white;
        display: flex;
        width: 100%;
        height: 100vh;
        padding: 0px 40px;
        flex-direction: column;
        justify-content: center;
    }
    
    .titular{
        padding: 10px;
        border: 3px solid rgb(156, 34, 34);
        box-shadow: 3px 3px 0px black;
        margin: 5px;
    }
    
    
    .escolhaFilhos{
        display: flex;
        justify-content: center;
    }
    
    .selecao{
        width: 30px;
    }
    
    .titulo{
        padding: 0px;
        margin: 0px;
        text-shadow: 3px 3px 3px black;
        color: rgb(221, 72, 72);
    }
    
    .aviso{
        font-size: 18px;
        color: rgb(161, 161, 161);
    }
    
    .subAviso{
        margin: 0px;
        padding: 0px 20px;
        font-size: 14px;
        color: rgb(56, 56, 56);
    }
    
    .importante{
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-size: 16px;
        color: rgb(92, 32, 32);
    }
    
    .espacoContador {
        margin: 0px;
        display: flex;
        flex-direction: row;
        font-size: 18px;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    
    .botaoDiminuir{
        background: rgb(194, 255, 194);
        border-radius: 8%;
        color: black;
        border: none;
        border-radius: 10px;
    }
    
    .botaoAumentar{
        margin-left: 5px;
        background: rgb(255, 194, 194);
        border-radius: 8%;
        color: black;
        border: none;
        border-radius: 10px;
    }
    
    .contagem{
        font-size: 13px;
        color: black;
    }
    
    .espacoData{
        display: flex;
        justify-content: center;
    }
    
    .data{
        padding: 5px;
    }
    
    .subAvisoData{
        display: flex;
        justify-content: center;
        font-size: 13px;
        color: black;
    }
}



@media only screen and (max-width: 400px) {
    .espacoFrases {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
        font-size: 10px;
        text-align: center;
        margin: 0px;
        color: white;
    }
    
    .regras {
        padding: 20px 0px;
        margin: 0px;
    }
    
    .frase {
        padding: 0px 0px;
        text-align: center;
        margin: 0px;
    }
    
    .espacoImagem {
        opacity: 0.2;
        margin: 0px;
    }

}


@media only screen and (max-width: 1000px) {
    .espacoFrases {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
        font-size: 10px;
        text-align: center;
        margin: 0px;
        color: white;
    }
    
    .regras {
        padding: 20px 0px;
        margin: 0px;
    }
    
    .frase {
        padding: 0px 0px;
        text-align: center;
        margin: 0px;
    }
    
    .espacoImagem {
        opacity: 0.2;
        margin: 0px;
    }

}

@media only screen and (max-width: 400px) {
    .espacoCliente{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: left;
        align-items: center;
        background: black;
    }
    
    .seta1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        cursor: pointer;
        z-index: 1;
        border-radius: 0px 10px 10px 0px;
    }
    
    .seta1:hover{
        display: flex;
        align-items: center;
        color: rgb(117, 117, 117);
    }
    
    
    .seta1:disabled {
        cursor: default;
        opacity: 0.5;
    }
    
    .seta2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        cursor: pointer;
        z-index: 1;
        /* border-radius: 10px 0px 0px 10px; */
    }
    
    .seta2:hover{
        display: flex;
        align-items: center;
        color: rgb(117, 117, 117);
    }
    
    
    .seta2:disabled {
        cursor: default;
        opacity: 0.5;
    }
}


@media only screen and (max-width: 800px) {
    .espacoCliente{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .espacoGlobal{
        width: 100%;
    }

    
    .formulario{
        border-radius: 20px;
        background: white;
        display: flex;
        width: 80%;
        height: 80vh;
        padding: 0px 0px;
        margin: 0px;
        flex-direction: column;
        justify-content: center;
    }

    .aviso{
        margin: 20px;
    }
    
    .seta1{
        display: flex;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        color: black;
        cursor: pointer;
        z-index: 1;
        border-radius: 0px 10px 10px 0px;
    }
    
    .seta1:hover{
        display: flex;
        align-items: center;
        color: rgb(117, 117, 117);
    }
    
    
    .seta1:disabled {
        cursor: default;
        opacity: 0.5;
    }
    
    .seta2{
        display: flex;
        justify-content: center;
        font-size: 50px;
        align-items: center;
        color: black;
        cursor: pointer;
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }
    
    .seta2:hover{
        display: flex;
        align-items: center;
        color: rgb(117, 117, 117);
    }
    
    
    .seta2:disabled {
        cursor: default;
        opacity: 0.5;
    }
    .importante{
        font-size: 12px;
        padding: 20px;
    }

    .cabecalho{
        font-size: 13px;
        padding: 0px;
        margin: 0px;
    }

    .aviso{
        font-size: 13px;
        padding: 5px;
        margin: 0px;
    }

    .subAviso{
        display: flex;
        justify-content: left;
    }
}